* {margin: 0; padding:  0}
body{
background:blue;
width: 580px;
height:600px;
margin: auto;


}

#container{
background:white;
width: 500px;
height:600px;
border-top:8px solid white;
font: 8pt tahoma;
margin-bottom:5px;
}
#backgroundg{background: blue;
width:500px;
height:400px;
margin-top:10px;
}
#top{background: url(top2.gif);
width:470px;
height:110px;
margin-left:15px;
font: 8pt tahoma;
}
#tresc{
font: 8pt tahoma;
color:black;
align:justify;
margin-left:15px;
width:350px;
border-right:1px solid #B0B0B0;
}